<div class="recipe-body">
	<div id="recipe-index-wrapper">
		<% @recipes.each do |f| %>
			<div class="recipe-index-box">
				<div class="recipe-index-image">
					
				</div>
				<p><%= link_to f.title, f%></p>
				<p><%= f.description %></p>
			</div>
		<%end%>
	<div>
</div>
