<body id="home">
	<div id="about-main">
		<div id="about-detail">
			<h1>About Me</h1>
			<h5>Created by: Eng Chien Howe</h5>
			<h4>This website created in 1 week, starting on 22 December 2017 and Ended on 28 Dec 2017.</h4>
			<br>

			<p>So for my final assesment, I look at the various topic listed, I saw this Recipe Book topic.</p>
			<p>Then I decide to create a web page that people can share their own recipe.</p>
			<p> And here you are browsing my web page and search for recipe you like.</p>
			<div id="last_text_box">
			<p id="last_text">Thanks and have fun preparing a nice dish.</p>
			</div>
		</div>
	</div>
</body>