<body id="home">
	<div id="home-title">
		<p id="home-title-text">A Place where you can share recipe</p>
	</div>
	<div id="category">
		<div class="category-box">
<!-- 			<%= form_tag(recipes_path, method: :get) do %>
 			 <%= select_tag :category, options_from_collection_for_select(Recipe.select(:category).distinct.order(:category),"category","category") %>
  			<%= submit_tag 'Search', name: nil%>
			<%end%> -->
		</div>
	</div>
</body>