// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-body{
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/stalfire/2048.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

/*//recipe form //*/

#recipe-form-wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
}
div #recipe-info-box{
	width: 80%;
	height: 10em;
	border-radius: 30px;
	background:rgba(100,100,100, 0.5);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px grey;
}
#recipe-wrapper-box{
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 100%;
	text-align: center;
}
#recipe-ingredient-box{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border-radius: 30px;
	background:rgba(100,100,100, 0.5);
	box-shadow: 10px 10px 5px grey;
}
#recipe-instruction-box{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border-radius: 30px;
	background:rgba(100,100,100, 0.5);
	box-shadow: 10px 10px 5px grey;
}
#recipe-form-btn{
	width: 10%;
}

/*//recipe index page //*/

.flex-container{
	width: 100%;
	display: flex;
	justify-content: center;
}

.flex-container>div{
 	margin: 5px 5% 5px 5%;
}

.category{
	text-align: center;
	height: 100px;
	border-radius: 15px;
}

.category h4{
	font-weight: bold;
}

.category:hover{
 	background-color: rgba(169, 169, 169, .3);
 	border-bottom: 3px solid #006680;
}
.category_image{
	width: 50px;
	height: 50px;
}
hr.line_style{ 
	overflow: visible;
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}
hr.line_style:after{
	content: '§';
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
}

#recipe-index-wrapper{
	width: 100%;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.recipe-index-box{
	width: 15%;
	height: 200px;
	background-color: yellow;
	margin: 30px;
	border-radius: 20px;
	box-shadow: 10px 10px 5px grey;
}
.recipe-index-box:hover{
	transform: scale(1.2);
	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
}
.recipe-index-image{
}
#recipe-index-image-size{
	width: 100%;
	height: 150px;
	border-radius: 20px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.nested-fields{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.nested-fields>a{
	text-decoration: none;
}
.link>a{
	text-decoration: none;
}


/*// recipe show page //*/
#recipe_show_info_box{
	width: 80%;
	height: 10em;
	border-radius: 30px;
	background:rgba(100,100,100, 0.5);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px grey;
	display: flex;
	flex-direction: row;
}
#recipe_title{
	margin-bottom: 0px;
}
#recipe_category{
	text-align: left;
	margin: 0;
}
#recipe_description{
	text-align: left;
	margin: 0px;
}
#recipe_show_image{

}
#recipe_image{
	width: 100px;
	height: 100px;
	margin: 25px 20px 20px 40px;
	border-radius: 15px;

}

#recipe_image:hover{
	transform: scale(2);
	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
}
#recipe_show_title{
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/stalfire/background_header.jpg);
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	margin-bottom: 4px;
}
#recipe_show_title>p{
	width: 30%;
}

.ingredients_show{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.ingredients_show:hover{
	transform: scale(1.1);
}
.ingredients_show>p{
	width: 30%;
	margin: 0;
}
#recipe_show_title2{
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/stalfire/about-header-background.jpg);
	background-size: cover;
	display: flex;
	flex-direction: row;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	margin-bottom: 4px;
}
#recipe_show_title2>p{
	width: 30%
}

.instructions_show{
	text-align: left;
}
.instructions_show>p{
	width: 100%;
	margin: 0;
	margin-left: 15px;
}
.instructions_show:hover{
	transform: scale(1.1);
	margin-left: 20px;
}